/*header*/
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}

header{
    height: 165px;
    background-color: #cccccc;
}

h1{
    padding: 0 25px

}

h2{
    font-size: 18px;
    padding: 0 25px

}
header > nav>ul{
    background-color: #757573;
}

header > nav > ul > li > a, /*elle sert a quoi?*/
header > nav > ul > li > a:active,
header > nav > ul > li > a:visited,
header > nav > ul > li > a:focus,
header > nav > ul > li > a:hover{
    color: black;
    text-decoration: none;
    text-transform: lowercase;
    padding: 0 25px;
}

/*Utils*/
.wrapper{
    margin: 0 auto;
    width: 1024px;
}
hr{
    width: 800px;
}
main > div > h4{
    font-weight: 400;
    text-align: right;
}
main > div > h4 > span{
    color: green;
    font-weight: 500;
    

}


footer{
    height: 165px;
    background-color: #cccccc;
}



